
name: First Workflow

on:
  push:
    branches: [ main ]

jobs:
  demo:
    runs-on: ubuntu-latest

    steps:
      - name: Print Hello
        run: echo "Hello GitHub Actions!"
      - name: Print event name
        run: echo "Event Trigger: ${{ github.event_name }}"
